[2019-01-09 19:05] ch-peterspiro opened #1 "No rule to make target 'parquet.bc', needed by 'all'."
Hi, it's great to have found this extension.  I'm trying build it, but getting the following error from make.  Any suggestions?  Thanks!

`
% make

g++ -I. -I./ -I/usr/include/postgresql/11/server -I/usr/include/postgresql/internal  -Wdate-time -D_FORTIFY_SOURCE=2 -D_GNU_SOURCE -I/usr/include/libxml2  -I/usr/include/mit-krb5 -std=c++11 -O0 -ggdb3 parquet_impl.cpp  -c -fPIC -L/usr/lib/x86_64-linux-

[2019-01-09 23:34] ch-peterspiro commented on #1
FYI, seems the issue is specific to pg11, as mentioned here: https://github.com/plv8/plv8/issues/304#issuecomment-426035141

Works fine on pg10.6

[2019-01-10 17:09] zilder commented on #1
Hi @ch-peterspiro,

Thank you for your report. I haven't yet tried it with pg11, but will do tomorrow. It looks like you are right about llvm support issue.

[2019-01-10 22:11] ch-peterspiro opened #2 "unrecognized node type when selecting"
Hello, I've successfully installed the extension on PG 10.6, and followed the instructions in README, including creating a foreign table with a schema definition that I believe should be consistent with the contents of the parquet file it's defined for.

However, when I try to select from the table, I get:
[XX000] ERROR: unrecognized node type: -1342623984

I've tried this with different parquet f

[2019-01-11 10:52] zilder commented on #2
Hi @ch-peterspiro,

there is an `example.parquet` file in `data` subdirectory of the repo. I had similar error recently which was related to the plan caching; I pushed a bugfix yesterday. Can you try with the latest version?

[2019-01-11 10:58] zilder commented on #2
And pg version is 10.4.
The full example you can find in the [regression tests](https://github.com/zilder/parquet_fdw/blob/master/input/parquet_fdw.source)

[2019-01-11 11:53] zilder commented on #1
Pushed a fix to the `master` branch. Can you please check if it works for you?

[2019-01-11 21:59] ch-peterspiro commented on #2
Great thanks.  Turns out to work fine for 10.4 for me, but not for 10.6.

[2019-01-11 22:07] ch-peterspiro commented on #1
Thanks for the quick fix.  It builds fine now for version 11.1.

Though on 11.1 it still has this issue https://github.com/zilder/parquet_fdw/issues/2 for me (as it does on 10.6 but not 10.4).

[2019-01-14 14:20] #1 closed

[2019-01-15 19:37] ch-peterspiro commented on #2
Yes, I also have plpgsql installed.  The example I'm using is the one from https://github.com/zilder/parquet_fdw/blob/master/input/parquet_fdw.source.

[2019-01-16 19:05] ch-peterspiro commented on #2
I'm actually using the Postgres docker containers at: https://hub.docker.com/_/postgres/

So I haven't installed Postgres itself, just started the containers.

However, to build the extension, I do need to install a postgresql-server-dev package, so for example to build the extension on the 11.1 container, I docker exec'd into the container, then did something like:

apt update
apt install git
git

[2019-01-18 15:46] zilder commented on #2
I setup a docker container from the link you provided, run the same steps you have and still can't reproduce the issue. I tried with pg 11.1:

[code]
At this point it is hard to say what is wrong. It looks like some internal postgres code tries to invoke `copyObject()` or `equal()` or one of dozen walker and mutator functions on an object that isn't a postgres `Node`. And I can't see where it coul

[2019-03-14 05:54] lussman3 opened #5 "Hello Zilder"
I'm very interested in your excellent work here.   Contact me sometime and perhaps we can figure out a mutually beneficial arrangement.

--Luss

[2019-03-14 12:28] zilder commented on #5
Hi @lussman3,

I sent you a message to LinkedIn.

[2019-03-14 12:28] #5 closed

[2019-05-06 16:14] jakebolewski opened #6 "License"
I came across this repo while looking for examples of an FDW / Postgres extension with a C++ project and it seems generally useful but didn't want to look too hard because there is no license.  Could you clarify / add this info?

[2019-05-06 16:41] zilder commented on #6
Hi @jakebolewski,

thanks for the question. I've added a license to the project, it is a standard postgres license.

[2019-05-06 16:41] #6 closed

[2019-05-06 17:00] jakebolewski commented on #6
Thanks @zilder! This is one of the easiest to follow Postgres FDW example projects I've seen as someone who is new to the ecosystem.

[2019-05-06 18:23] zilder commented on #6
Thanks : ) I just want to point out that i'm not exactly a c++ programmer, but i had to use it because of `libarrow` and `libparquet`. So most of the code is still written in c-style.

[2019-05-07 20:44] lussman3 commented on #6
It's truly aweszome that this great project is going to be Postgres
licensed.   I'm a big fan and hope to be able to contribute in some
meaningful way going forward.

--Denis Lussier
  Longtime Postgres Community Member
  Product Manager for Postgres at AWS

On Mon, May 6, 2019 at 2:23 PM Ildar Musin <notifications@github.com> wrote:

[2019-06-25 09:59] benjdv opened #7 "multiple Parquet files"
Parquet are often slitted (partition) in multiple subfile (with the same struct).
So, it will be great to have the possibility to create a foreign table from these multiple files (and not having one foreign table by Parquet).
Example:
./data_pqt/0_0_1.parquet
./data_pqt/0_0_2.parquet
./data_pqt/0_0_2.parquet

`create foreign table...
options (
    filename './data_pqt/*.parquet'
);`
or (directly w

[2019-06-25 12:50] benjdv opened #8 "auto load table definition"
Not an issue but a idea of improvement.
Don't know if it's really possible but it will be useful to have the ability to auto detect/extract the parquet fields and automatically build the foreign table
Example:
`CREATE FOREIGN TABLE domain_pqt ()
server parquet_srv
OPTIONS (
    filename 'myfile.parquet',
    AUTOFIELD
);`

[2019-06-25 13:55] zilder commented on #8
Hi @benjdv,

this is actually a good idea. Postgres already has the `IMPORT FOREIGN SCHEMA` syntax for this kind of tasks and corresponding routine for custom FDW's. I think I'll add this feature when i have more time.

[2019-06-25 14:05] zilder commented on #7
Hi @benjdv,

thanks for the suggestion. We decided not to do that just yet so as not to overcomplicate things. Currently we use postgres partitioning to combine several parquet tables. It already provides some nice features like partition pruning and parallel query execution.

[2019-06-25 14:05] #7 closed

[2019-07-10 08:44] benjdv opened #9 "Parquet on HDFS"
As parquet file are often stored in HDFS, it will be great to have possibility to read foreign table directly from HDFS.

It exists some HDFS wrapper (https://wiki.postgresql.org/wiki/Foreign_data_wrappers) but they used hbase or hive. (Note that parquet_fdw wrapper is note present in this page).

[2019-07-10 08:54] benjdv commented on #7
Please find a function that will help to import all sub-parquet with inheritance. hoping that it can help someone.
Some improvements can of course be made.
[code]

[2019-07-10 11:57] zilder commented on #9
Hi @benjdv,

AFAICS, `libarrow` [may be built with hdfs support](https://github.com/apache/arrow/blob/master/cpp/apidoc/HDFS.md), which means that it's likely doable. I haven't yet work with hdfs so I'll need some time to figure it out. Right now I'm a bit swamped with current work tasks and will get back to this and [the other issue](https://github.com/zilder/parquet_fdw/issues/8) as I get more f

[2019-07-10 13:00] zilder commented on #9
Added `parquet_fdw` to the postgres wiki.

[2019-07-13 10:21] luss opened #10 "Plans for more great stuff"
any plans to keep working on this?

[2019-07-15 09:03] zilder commented on #10
Hi @luss,

Currently my colleagues working on integrating `parquet_fdw` into our system. At the moment we have everything we need for our purposes. There are some things that would be nice to have but we can't due to limitations of `libparquet` (e.g. it doesn't yet support lists of structs).

I'll keep maintaining the project and add features eventually as someone needs them. If there are some fea

[2019-07-15 09:03] #10 closed

[2019-07-30 15:11] zilder commented on #8
Hi @benjdv,

Here is an experimental branch implementing `IMPORT FOREIGN SCHEMA` command:
https://github.com/adjust/parquet_fdw/tree/import_schema

It would be great if you could test it on your data.

[2019-07-31 09:17] zilder commented on #8
Merged into the `master` branch

[2019-07-31 09:17] #8 closed

[2019-09-03 15:37] benjdv commented on #8
Appreciate this new possibility and have some feedback and thinking :
1) Passing (by error) a file instead of a directory produce a lose of connection (an error message will be better)

2) The naming is not really practical : the .parquet file from different PARQUET directory may have same name (example : 0_0_0.parquet => tablename 0_0_0 which is very common).
So it's always possible to import in

[2019-09-04 13:06] benjdv commented on #8
Pending possible improvement, I use my own plpgsql function to do the job.
I make it available here, hoping that it can help someone:

[code]

[2019-09-23 14:19] benjdv opened #11 "Parquet with type struct"
As announced in documentation (https://github.com/adjust/parquet_fdw) It will be useful to supports the column type: STRUCT.
The STRUCT parquet column type may be converted into TEXT or JSON in SQL.

[2019-09-25 08:58] zilder commented on #11
Hi,

that was our intention in the first place, we also had some nested structures. But unfortunately `libparquet` (which we use to read parquet files) does not fully support them. Particularly it doesn't support lists of structs (see [this issue](https://issues.apache.org/jira/browse/ARROW-1644)), but it should work fine with simpler structs without repetition. I think it makes sense to at least

[2019-09-25 12:18] zilder commented on #8
It actually was a bug, fixed it in the master.

As for 2 and 3 i'm not sure it should be a part of fdw. There could be different use-cases and they can actually be handled by a plpgsql function (like the one you posted earlier). For example, you want new foreign tables to inherit some parent table, someone else might want them instead to be attached to partitioned table or add extra constraints to

[2019-09-28 21:23] benjdv commented on #8
It makes senses.
I agree with you that there is some various needs and usages. All of them can of course be solved by (plpgsql) functions. And there probably bigger priority today than these points (like support of struct).

I just want to give few ideas for optional possibility that could help to save time and make it easy to adopt for (new) users.

[2019-10-21 14:57] hpolonskaya opened #12 "make install failing"
/parquet_fdw$ make install
Makefile:16: /usr/lib/postgresql/11/lib/pgxs/src/makefiles/pgxs.mk: No such file or directory
make: *** No rule to make target '/usr/lib/postgresql/11/lib/pgxs/src/makefiles/pgxs.mk'.  Stop.

[2019-10-21 15:11] hpolonskaya commented on #12
i fixed first error but now i get this
~/parquet_fdw-master$ make install
g++ -std=c++11 -O3 -I. -I./ -I/usr/include/postgresql/11/server -I/usr/include/postgresql/internal  -Wdate-time -D_FORTIFY_SOURCE=2 -D_GNU_SOURCE -I/usr/include/libxml2  -I/usr/include/mit-krb5  parquet_impl.cpp  -c -fPIC -L/usr/lib/x86_64-linux-gnu  -Wl,-Bsymbolic-functions -Wl,-z,relro -Wl,-z,now -L/usr/lib/llvm-6.0/lib  -

[2019-10-21 20:28] zilder commented on #12
Hi @hpolonskaya,

Are you using `arrow-0.15` to build the extension? I haven't try this version yet. It looks like they have refactored `FileReader`, row statistics, probably something else. I'll need some time to make corresponding changes in `parquet_fdw`. It should work with version 0.14 though.

[2019-10-22 13:26] hpolonskaya commented on #12
Yes it's arrow-0.15 version
any ETA when it will be available on this version.

[2019-10-22 14:34] zilder commented on #12
Already started working on this. Hopefully by the end of the week but uncertain.

[2019-10-22 14:49] hpolonskaya commented on #12
thank you really appreciated

[2019-10-23 09:27] zilder commented on #12
Hi @hpolonskaya,

There is a new branch `pg12` with changes for arrow-0.15 (and postgres 12 as well). Can you please check if it works for you?

[2019-10-24 18:37] hpolonskaya commented on #12
We have pg  11 ,
I can compile it  and created extension
but i got this ERROR:  parquet_fdw: Operation not permitted

[2019-10-24 19:54] zilder commented on #12
It looks like the file you are reading is not accessible by postgres user. Try change permissions.

[2019-10-28 12:47] hpolonskaya commented on #12
Working now
thank you

[2019-10-28 12:47] #12 closed

[2019-11-05 04:07] luss opened #13 "Failing to build from Master branch on PG12"
I updated to latest arrow-devel (0.15) and parquet-devel as per instructions for CentOS 7.   I get the below when try to compile from a clone of master branch tonight.  I wanted to tray your  0.14 branch, but, I couldn't figure out how to downgrade arrow-devel on my build server.

In file included from parquet_impl.cpp:8:
In file included from /usr/include/arrow/api.h:23:
In file included from /us

[2019-11-05 10:39] zilder commented on #13
Hi @luss,

that may be because of some environment variables rewrite `-std=c++11` option. I rearranged the order of compiler options in Makefile in `cxxflags` branch. Can you please check if it works for you?

[2019-11-15 10:46] luss commented on #13
thanks.  I'll check soon.

[2019-12-04 18:48] einhverfr commented on #9
There is one major disadvantage to doing this as far as I can see (something worth noting  up front) and that is that hdfs does not provide seek support so you can't read the parquet metadata until the entire file is sent.  A more typical way to process these on HDFS would be to use something else on that stack to do the map-reduce on the storage nodes so you get the benefits there.

That is not t

[2019-12-05 09:54] sumerman commented on #9
@einhverfr not sure what you are referring to. HDFS most definitely supports this operation on API level https://hadoop.apache.org/docs/r2.8.2/api/org/apache/hadoop/fs/FSDataInputStream.html#seek(long) and as it does support reading block-wise (it enables data parallelism). Seeking into the middle of a 125M block would be inefficient, and you can't append there. Although, I don't think either woul

[2019-12-11 23:40] dfirence opened #14 "MAC OS: error Make Install | STDLIB.H Fatal Error"
Hello, I want to use your extensions but am unable to get past the #1 step - make install.

I have Mojave 10.14, all XCODE tools are installed

Here's what I get

[code]

[2019-12-12 10:55] zilder commented on #14
Hi @dfirence,

After quick googling i see that there were some changes in Mojave regarding location of the standard headers (see [release notes](https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes) and 'Command Line Tools > New features' section particularly). I also see similar issues on github for other software. The common recommendation i found is to run:
[code

[2019-12-12 21:40] dfirence commented on #14
Hey @zilder

What versions of PgSQL you support. I have a debian box and can try to install there again. Yesterday I was able to compile it in Debian Stretch with PGSQL 11.5.

However in step #2

CREATE EXTENSION ....

It fails by throwing a SYMBOL ERROR Not Found.

[2019-12-12 22:48] dfirence commented on #14
I then installed PGSQL 11.6 on Debian Stretch

## Compiled FDW for 11.6

[code]

## Attempted to CREATE EXTENSION in PGSQL 11.6

[code]

[2020-01-14 06:28] agari opened #15 "Add support for multiple files or directory attaching one table"
As I see below, creating foreign table to map only one parquet file. But in some cases the files or the files in the same directorey that are in the same structure should be mapped to one table. Is it posible to support create foreign table on directory?

create foreign table userdata (
    id           int,
    first_name   text,
    last_name    text
)
server parquet_srv
options (
    **filename

[2020-01-14 10:03] zilder commented on #15
Hi @agari,

Yes, I think it's possible and it's actually in our plans to support this. Hopefully it will be added in a month or two (maybe earlier).

[2020-01-24 18:54] einhverfr opened #16 "Request: Option to specify function to use for importing foreign schema"
In general there may be different ways we need to be able to import a foreign schema.  Someone might assume that all files are to be imported, but others might need to be able to rotate files atomically according to some logic.  Having some interface for specifying this function would be really helpful.

[2020-01-27 10:46] Seth-PM commented on #15
needed for AB 2.0, in progress

[2020-01-27 10:47] Seth-PM commented on #16
needed for AB 2.0, will be done after 15.https://github.com/adjust/parquet_fdw/issues/15

[2020-02-07 14:55] dfirence commented on #14
Any update on this one?

[2020-02-17 12:35] Seth-PM commented on #15
update as on 17th Feb from Ildar :  task in progress. So far theres 3 types of readers - single file reader, multifile reader and multifile with merge (merge in sorted way). Ildar is on this to figure out how to implement parallel execution for each type

[2020-02-24 11:12] Seth-PM commented on #15
@einhverfr fyi

[2020-02-24 11:39] Seth-PM commented on #16
to be done by @zilder

[2020-03-02 15:57] zilder commented on #15
Hi @agari,

in case you want to test it, I've added multiple file support to `parquet_fdw`. You can find it in [multifile](https://github.com/adjust/parquet_fdw/tree/multifile) branch. It basically allows to specify multiple files in `filename` option:

[code]

To automatically import files from a directory I'm going to add a feature allowing to specify a function returning a set of files to impor

[2020-03-06 14:49] zilder commented on #16
Hi @einhverfr,

I'm working on a solution. I decided to add a separate function `import_parquet()` for this tasks (it think `IMPORT FOREIGN SCHEMA` is not well suited for it). You can find its description in [README.md](https://github.com/adjust/parquet_fdw/blob/import/README.md) in the `import` branch. It's still in early stage of development and wasn't tested. I'll add a way to specify extra for

[2020-03-16 10:12] zilder commented on #16
The feature is ready for testing. The description is in [README.md](https://github.com/adjust/parquet_fdw/blob/import/README.md#import) (the import section)

[2020-03-16 10:17] zilder commented on #15
Hi @agari,

I added `import_parquet()` function where you can specify custom function returning set of files to import. Can you please test that it works for you? The code is in the `import` branch. The description and an example are in [README.md](https://github.com/adjust/parquet_fdw/blob/import/README.md#import).

[2020-03-17 16:04] alexeyklyukin commented on #16
@zilder Would you like to make a PR from this at this point (and also, perhaps, merge the current master in)?

Not a proper review, but  there were some compiler warnings about unused variables in the parquet_impl.cpp

On thing I had to add here on MacOS is
[code]
that contains basename. Also, ```basename``` won't work on Windows.

[2020-03-17 21:51] zilder commented on #16
@alexeyklyukin I'm going to do some refactoring regarding the use of postgres and c++ exceptions together. Things are not good right now. I'll create a PR after I finish this.

[2020-05-04 10:52] DzamoNorton opened #20 "Specifying multiple columns in the `sorted` option"
When I specify multiple, space-separated columns, e.g. `sorted 'col1 col2 col3'`, they are not correctly tokenized and parquet_fdw the entire string is taken to be a single column name.  The following change fixes the problem for me.
[code]

[2020-05-05 11:18] zilder commented on #20
Hi @DzamoNorton,

Thanks for your report. You are right, fixed.

PS: There is actually another problem with multiple sorted columns. Currently it only works when columns in `sorted` option are listed in the same order as they are in the table DDL. It's fixed in the [import](https://github.com/adjust/parquet_fdw/tree/import) branch which will be merged soon. Until then if this is an issue for you,

[2020-05-05 11:18] #20 closed

[2020-05-05 11:49] DzamoNorton commented on #20
Okay I got lucky then because the column ordering in my table DDL matches my table sort ordering.  Do not worry about bringing the fix in ahead of the merge on my account.

[2020-05-30 13:08] yjhjstz opened #21 "feature request: support insert to parquet file"
any plan  or idea ？

[2020-06-02 12:30] zilder commented on #21
Hi @yjhjstz,

currently there is no such plan. But that may change in time.

[2020-06-02 12:30] #21 closed

[2020-06-02 13:03] yjhjstz commented on #21
But I have one question that how to use arrow c++ api to write float array(FLOAT4ARRAYOID) ?

[2020-06-02 13:20] zilder commented on #21
You can use this example:
https://github.com/apache/arrow/blob/master/cpp/examples/parquet/parquet-arrow/reader-writer.cc

[2020-06-03 08:14] yjhjstz opened #22 "crash: when read big table of 1000000 rows"
I wrote a c++ test code:
[code]
it also crashed when i == 32768 .

[2020-06-03 10:07] zilder commented on #22
Hi @yjhjstz,

Can you provide a backtrace? How many rowgroups are there in your file. 32K sounds like pretty unreasonable number of row groups. Is it possible that you share your parquet file?

[2020-06-03 10:24] yjhjstz commented on #22
sorry , I misuse StreamWriter::SetMaxRowGroupSize(1000) according to example.

[2020-06-03 11:45] zilder commented on #22
Can you please anyway send the file that caused crash or the code that produces it? I'm going to reproduce this issue and either fix the bug in `parquet_fdw` if there is one or add an extra check if there is limitation in `libarrow`.

[2020-06-03 12:28] yjhjstz commented on #22
1. git clone https://github.com/yjhjstz/parquet_fdw/tree/dev
2. psql run below:
[code]

[2020-06-04 03:43] yjhjstz commented on #22
by the way , you can reproduce it and  join optimize the insert routine .

[2020-07-07 09:32] PepperJo commented on #9
Would also love to see S3 support which should also be supported by libarrow.

[2020-07-14 13:14] zilder commented on #15
Merged into master

[2020-07-14 13:14] #15 closed

[2020-07-14 13:16] zilder commented on #16
Merged into master

[2020-07-14 13:16] #16 closed

[2020-09-22 22:06] igor-suhorukov opened #24 "Provide dockerfile for project"
Could you please provide docker file for
parquet_fdw. It will be helpful for quick start in containerized environment

[2020-10-06 01:15] jefbarn opened #25 "crash if array column imported with incorrect type."
Found when playing with my data that sometimes I was importing a array/list column as just an int, which would cause the db to crash when selecting the table.

Adapted from your test cases:
[code]

[2020-10-06 09:43] zilder commented on #25
Hi @jefbarn,

Thanks for the report! I'll look into this.

[2020-10-12 16:18] #25 closed

[2020-10-12 16:21] jefbarn commented on #25
@zilder 🎉 Thank you!

[2020-10-12 16:44] zilder commented on #25
@jefbarn I forgot that github automatically closes issues : ) So yeah, i found the bug. In short i wasn't careful with exception handling and accidentally used `continue` inside PG_TRY/PG_CATCH block which led to corruption of the stack of setjmps/longjmps (this is how postgres does exception handling).

Thanks again for the report!

[2020-11-23 07:41] davidmathers opened #26 "Postgres 13 heap/table issue"
Just an FYI. In order to compile with Postgres 13 I had to make these changes:

heap_open -> table_open
heap_close -> table_close

I don't really understand this issue or how a codebase is meant to maintain compatibility with multiple versions due to this change so I'm just letting you know what I did to get it working.

[2020-11-23 10:32] zilder commented on #26
Hi @davidmathers,

Thank you for the report! I'm currently working on adding postgres 13 support in our extensions and will get to `parquet_fdw` soon. I'll let you know when it's ready

[2020-11-23 16:20] zilder commented on #26
I actually got to it sooner than i expected. Fixed, merged into master. Can you pls check that it works for you?

[2020-12-02 12:19] sdressler commented on #22
Is there any update on this issue? I run into a `SEGFAULT` when running `ANALYZE` on a big table.

[2020-12-02 14:21] zilder commented on #22
Hi @sdressler,
can you send a backtrace?

[2020-12-02 14:23] sdressler commented on #22
@zilder I can, but figured it out eventually and the schema had mismatching types. I can still get you a backtrace if you want and if it helps to make things more stable.

[2020-12-02 14:29] sdressler commented on #22
I am going to open a new bug report.

[2020-12-02 14:58] sdressler opened #27 "Parallel querying returns zero rows"
### Description

After running `ANALYZE` on the FDW backed tables and enabling parallel querying, the query stops executing properly and always returns zero rows. Disabling parallelism causes the query to work.

Without parallelism enabled:

[code]

With parallelism enabled:
[code]

### Reproduction

1. Create parquet file from CSV:

[code]
2. Create table:

[code]

3. Ensure parallelism & run que

[2020-12-02 15:33] sdressler commented on #27
Also happens with an `ORDER BY`:

[code]

[2020-12-02 17:40] sdressler commented on #27
Found so far, that it breaks in `parquet_impl.cpp` at `read_next_rowgroup`. More precisely here:

[code]

Since both, `reader_id` and `next_reader` are 0.

[2020-12-02 17:51] sdressler commented on #27
I might be wrong, but I think the above needs to become:

[code]

Rationale: the single-file fdw plan has only one reader per worker. Parallelism should be achieved via processing row-groups in parallel.

[2020-12-03 16:12] zilder commented on #27
Hi @sdressler,

Thank you for reporting the issue. I pushed bugfix into master. Can you pls check if it works for you?

[2020-12-03 18:10] sdressler commented on #27
Yep, looks good to me. Thanks!

[2020-12-03 18:11] #27 closed

[2020-12-12 15:56] sdressler opened #28 "Wrong results with double/float columns and filters"
I noticed that some queries return false results when the column type is double or float and the row group filtering is activated. For instance, the following table `example_float` with a single column `value` of type `double precision` and the content:

[code]

Here, the query `select * from example_float where value > 0` results in

[code]

Although it should return all rows except "0". I believ

[2020-12-21 11:40] #26 closed

[2020-12-21 15:55] zilder commented on #28
Hi @sdressler,

Sorry for the late response. You're absolutely right, this is a mistake. There must be `Float4GetDatum` and `Float8GetDatum`. I'll fix it right away.

[2020-12-21 16:29] zilder commented on #28
Pushed fix to master. Can you pls check whether it works for you?

[2020-12-22 16:22] sdressler commented on #28
Yep, looks good! Hope it did not cause any trouble/wrong results on your end.

[2020-12-22 16:22] #28 closed

[2021-03-01 11:47] sdressler opened #30 "parquetAnalyzeForeignTable does not set totalpages"
The function `parquetAnalyzeForeignTable` does not assign a value to `totalpages`. This is however needed for estimation (most notably in `parquetGetForeignRelSize`).

Proposed implementation (pseudocode):

[code]

[2021-07-01 10:29] amichaia opened #31 "postgres crush when there are 0 records on parquet file"
Hi,

i tried to write 0 records with pandas  like this:
import pandas as pd
d = {'col1': [], 'col2': []
df = pd.DataFrame(data=d)
df.to_parquet('<some directory>/test_data/data.parquet1_debug', compression=None)

when reading back with pandas, all works well and it says that its empty,

however, postgres crush.

i have looked inside the fdw code specifically in the populate_slot() function and saw

[2021-07-01 10:50] zilder commented on #31
Hi @amichaia,

thanks a lot for the report! I'll take a look and let you know when it's fixed.

[2021-07-05 16:01] zilder commented on #31
Hi @amichaia,

I pushed a new branch [`fix_31`](https://github.com/adjust/parquet_fdw/tree/fix_31) which should fix the bug. Can you please check whether it works for you?

[2021-07-06 09:19] amichaia commented on #31
Great thanks! i'll give it a try and update you ASAP :)

[2021-07-07 14:47] maozguttman commented on #31
I'm working with Amichai. This bug is fixed.
But I found a new one. Will open a new issue.

[2021-07-07 14:57] maozguttman opened #32 "NULL values are printed to field name that has capital letter"
Hi,

Example code below works with version 0.2, but does not with latest master version.
The issue is that NULLs are printed for a field that its name has capital letter(s). "UPPER_CASE" field in the example below.

To reproduce:

[code]

**Correct** output with version 0.2:
[code]
**Incorrect** output with latest master version:
[code]

Thanks,
Maoz

[2021-07-08 14:36] #31 closed

[2021-07-12 06:54] maozguttman commented on #32
Hi,

Our internal regression passed with latest master.

Do you have an estimation date for next official release?

Thanks,
Maoz

[2021-07-12 14:52] zilder commented on #32
I can create a minor release, no problem. It's been a while since last release, few features added, some bugs fixed. I only have one minor feature to add. So probably later today or tomorrow it will be done.

[2021-07-12 14:52] #32 closed

[2021-07-13 06:07] maozguttman opened #33 "enhancement: C++ code redesign for TypeInfo"
Hi,

I'm using pguint package (can be found in github) for supporting unsigned integers in postgres. pguint package adds following postgres data types:
1. int1 (8 bits signed integer)
2. uint1 (8 bits unsigned integer)
3. uint2 (16 bits unsigned integer)
4. uint4 (32 bits unsigned integer)
5. uint8 (64 bits unsigned integer)

I modified parquet_fdw code to support these new datatypes.

My proposal

[2021-07-14 14:32] zilder commented on #32
I created a new [minor release v0.2.1](https://github.com/adjust/parquet_fdw/releases/tag/v0.2.1).

[2021-07-14 15:05] zilder commented on #33
Hi Maoz,

thanks for the suggestion. TBH i doubt this will work faster. This would require using virtual functions which implies extra memory access (to vtable). And one extra function call. Which may be significant for such trivial work, that `read_primitive_type` does.
Anyway this requires benchmarking. Unfortunately i currently don't have much time as there are higher priority tasks. Maybe late

[2021-07-20 23:36] tlskr opened #34 "'api.h file not found'"
When I run `make install`, I get:

`src/common.hpp:7:10: fatal error: 'arrow/api.h' file not found`

This is on MacOS Big Sur 11.3.1.  I have installed Arrow (with `brew install apache-arrow` and `brew install apache-arrow-glib`.

We are interested in the project and would appreciate any help with this.

[2021-07-21 13:21] tlskr commented on #34
This seems to have resolved itself.

[2021-07-21 13:21] #34 closed

[2021-07-27 09:09] zilder opened #35 "Parallel execution for Multifile Merge reader"
Currently parallel query execution only works for Single File and Multifile readers. Though for certain cases we would potentially benefit from having parallel implementation for Multifile Merge and Caching Multifile Merge readers.

[2021-07-27 09:21] zilder opened #36 "Multifile Merge optimization idea"
Multifile Merge is implemented using heap data structure to provide sorted output. On each iteration we remove top element from the heap, replace it with a new one (from the same source) and heapify. Sometimes (possibly oftentimes) when we read a new row group, the all elements of that row group would appear on top of the heap before any other element; in other words all elements of that row group

[2021-07-30 08:15] za-arthur opened #37 "parquet_fdw: No such file or directory"
If `parquet_fdw` cannot find a parquet file it just logs the error `parquet_fdw: No such file or directory` without the file name.
It would be good to log the file name as well.

[2021-07-30 15:37] #37 closed

[2021-07-30 15:47] zilder commented on #37
Hi Arthur,

Thanks for reporting the issue! I fixed it and pushed into master.

[2021-08-18 09:11] za-arthur opened #38 "ERROR: cache lookup failed for type 10"
I try to test example parquet files from `data` folder. I get the error if I try to select all records:

[code]

`test_parquet` is created with by the following query:

[code]

[2021-08-29 20:06] MironAtHome opened #39 "Delta Lake extension, anyone?"
How hard is it to extend this to delta lake

[2021-08-30 13:15] zilder commented on #39
Hi @MironAtHome,

I'm not familiar with Delta Lake so I can't really advise anything. But since you are looking to use a different API to read data and specifically a rust binding I don't think there is much you can get from `parquet_fdw`.

[2021-12-17 08:02] DeoLeung opened #42 "support libarrow 6.0.0+"
seems libarrow has remove `children()` in 6.0+

also a question, I need `libarrow-dev` to build the extension, what do I need in runtime?

 can I remove it after build and use something else like `libarrow`(thought it doesn't exists) to reduce docker images size?

[2021-12-17 10:14] zilder commented on #42
Hi @DeoLeung,

Thanks for reporting this. Yes, `children()` was labeled deprecated, and I believe `fields()` is supposed to serve as a replacement. But I haven't try it yet. Will fix when I get a chance.

`libarrow-dev` is only needed for building, `libarrow` should suffice for runtime. Also once you are looking to reduce the size you may want to build it from sources. Here is a [building guide](h

[2022-02-02 16:42] jarifuri commented on #11
Hi,
any update on this feature, please? The underlying issue has been solved.
I know, it is the feature, so I'll be happy also with the answer " we don't have a plan for this in foreseeable future" --> I would know I need to find the workaround.
Thanks a lot.

[2022-03-10 10:10] MinhLA1410 opened #44 "Support SELECT of parquet file on local file system or Amazon S3 (MINIO)"
Currently, we already implement parquet_fdw can select parquet file on both local file and Amazon S3(instead of MINIO).
I would like to contribute them into repository and community  if you have interest?.
I will create pull request for share this feature.

Summary modification:
+  Install dependent libraries  AWS SDK for C++ (libaws-cpp-sdk-core libaws-cpp-sdk-s3): Use this library to access and

[2022-03-31 08:00] mgyboom opened #45 "make USE_PGXS=1 error"
root@4ee8e49c0e0c:~/parquet_s3_fdw-0.2.1# make USE_PGXS=1
g++ -Wall -Wpointer-arith -Wendif-labels -Wmissing-format-attribute -Wimplicit-fallthrough=3 -Wformat-security -fno-strict-aliasing -fwrapv -g -g -O2 -fstack-protector-strong -Wformat -Werror=format-security -std=c++11 -O3 -fPIC -I. -I./ -I/usr/include/postgresql/13/server -I/usr/include/postgresql/internal  -Wdate-time -D_FORTIFY_SOURCE=2

[2022-04-13 12:04] chrisfw opened #46 "Compiling on Oracle/RHEL Linux 7 fails due to C++ > 11"
Hello,

After much ado getting the arrow prerequisites installed on Oracle Linux 7, I discovered that the fdw won't compile with the version of g++ on version 7 (4.8.5) which seems only to support up to c++11.  Is there any way you could create a branch that will compile with c++11?  I totally understand if this is not something you would like to support, but we are currently pinned to Oracle Linu

[2022-04-13 12:31] chrisfw commented on #46
I managed to get a newer g++ compiler (9.3.1) installed via software collections, but unfortunately, the compile still fails.  Any assistance in you can provide in order to resolve this issue would be greatly appreciated.

Regards,
Chris

[code]

[2022-04-28 19:27] pramsey opened #47 "Parquet FDW table as partition member crashes backend"
Created a table using `parquet_fdw` (very impressive extension, BTW). Then created a partition table. Then added the parquet FDW table to the partition. Then ran a simple `SELECT * FROM phl_parking_master` query and got a back-end crash.

I initially thought this might be a bug in PgSQL core, but I replicated using `postgres_fdw` and the backend did not crash.

<details><summary>SQL</summary>

Cre

[2022-04-28 19:33] pramsey commented on #47
Here's the working situation using `postgres_fdw` in case there's any interest.

<details><summary>SQL</summary>

[code]

</details>

[2022-04-29 16:25] pramsey commented on #47
There is something more involved than just "parquet_fdw as member of partition" going on here, as I cannot replicate the crash using the example data files from the project repo.
[code]
Closing for now until I isolate what it is about my case that is causing a crash.

[2022-04-29 16:25] #47 closed

[2022-07-13 08:38] artemyarulin opened #49 "Using array type"
What is the right way to specify an array type? Tried to use the following and used `text[]` like in here:
[code]
but it fails when I run the `SELECT` from the table with error: `ERROR: parquet_fdw: cache lookup failed for type 0` . If I use `text` instead then values got imported fine as one text value, so data I guess is correct. Didn't find any example with `array` type in here

[2022-10-05 13:45] maxime-jolliet-airseas opened #52 "Parquet timestamps are read with a 1-second precision"
Hi,

I observed that parquet microsecond or millisecond-precision timestamps are read by the second in postgres.

Steps to reproduce, in python :
[code]
Then, in postgres:
[code]

After analysis from @ahoy-jon the problem comes from https://github.com/adjust/parquet_fdw/blob/master/src/common.hpp#L27
This solves the problem for milliseconds:

[code]

If interested, I can provide a patch for other

[2022-10-06 16:27] #52 closed

[2022-10-13 01:01] colton-trm opened #55 "Can you reference query arguments and/or filters with files_func?"
I've got a use case where I can deterministically identify the parquet file needed by the query, and was trying to figure out how to pass that value to `files_func` and/or `files_func_arg`.

In an ideal world, I'd be able to have pseudocode something like this. I've got no difficulty providing a `lookup_file_location` function that inputs the filters used while accessing the foreign table and outp

[2022-10-27 06:00] cabecada opened #57 "parquet_fdw compilation error ubuntu 22, g++ 11"
I am not able to compile the extension on ubuntu.

[code]

make logs in
https://gist.github.com/cabecada/7c9c1e5288010efb37454c14373e75d6

[2022-10-27 07:44] cabecada commented on #57
ok, the issue is due to libparquet and libarrow dev being default v10 in latest deb packages, whereas earlier it was 9 where it compiled fine.

[2022-10-27 08:23] cabecada commented on #57
yep, indeed it was arrow v10.0.0
when i downgrade to v9.0.0 it works fine.

[2022-10-27 08:43] #57 closed

[2022-10-28 05:45] cabecada opened #58 "fdw crashes when making use of partitioning and the partitions have sorted option set"
i think i came across a bug where when we make use of sorted field in the foreign table, we see a crash when = operator is used in predicates.
`could not find pathkey item to sort`

its reproducible from the repo example in tests as below.
when we drop the `sorted` option from parititions query returns fine.

[code]

[2022-10-28 08:59] cabecada commented on #58
[code]
bt

[2022-10-28 09:55] cabecada commented on #58
querying the foreign table directly works fine.
but querying the parent table causes crash

[code]

[2022-10-28 10:29] cabecada commented on #58
postgres 12.8

[2022-10-31 17:01] imasli commented on #58
@cabecada When you created the foreign table you included a sorted column. If the sorted column is not included would it still show the same error?

[2022-11-01 15:41] jrogov commented on #58
@za-arthur waiting on your feedback on this

Either way this needs to be deployed to some server (most likely `ab-query-2`) for testing with possibility of revert.

[2022-11-03 12:51] cabecada commented on #58
no, without sorted. no errors atleast in the test setup up above. (i drop the sorted option) and it worked fine.

[2022-11-17 15:54] za-arthur commented on #58
This was fixed by #60

[2022-11-17 15:54] #58 closed

[2022-11-24 16:47] j4david opened #61 "Error on importing foreign schema when columns has white spaces"
Hello,

I'm getting an error when I import a foreign schema when there parquet files with whitespaces in their column names.

Example:

[code]

When I create foreign table individualy, it work okey:
[code]

Thanks